*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: var(--color-buttom);
    text-decoration: none;
}

body{



    background: var(--background);
    height: 100%;
    width: 100%;
    font-family: "poppinslight", sans-serif;
    font-size: 14px;
    line-height: 18px;

    --background: #FAFAFA;
    --color-buttom: #3c96ed;
    --black: #000000;
    --border-line: #e6e6e6;
    
}

#wrapper{
height: 100vh;
}

#container{
    margin: 0 auto;
    min-height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
}

.colum{
    flex-grow: 1;
    width: 50%;
}

.left{
    background-image: url("components/images/main-foto.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.right{
    padding-left: 20px;
}

.login-panel{
    background-color: var(--background);
    border: 1px solid var(--border-line);
    text-align: center;
    padding: 10px 0;
}

.logo-img{
    width: 175px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="Text"], [type="password"]{
    background-color: var(--background);
    border: 1px solid var(--border-line);
    height: 40px;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
    color: var(var(--black));
}

input[type="password"]::placeholder, input[type="text"]::placeholder{
    color: rgb(165, 164,164);
}
input[type="text"]:focus, input[type="password"]:focus{
    outline: 0;
    border: 1px solid #a1a1a1;
}
input[type="submit"]{
    margin-top: 10px;
   height: 30px;
    width: 320px;
    background-color: var(--color-buttom);
    border-radius: 4px;
    color: var(--background);
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.infobox{
    background-color: var(--background);
    border: 1px solid var(--border-line);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0;
    height: 60px;
    font-size: 14px;
}

.infobox p a{
    font-weight: bold;
}

.aplicativos{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
.buttons{
    margin-top: 10px;
}

.buttons img{
    height: 40px;
    padding: 2 auto 0;
}
footer{
    text-align: center;
    height: 50px;
}

footer a{
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 5px;
}

.text-small{
    font-size: 12px;
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 20px;
}

#container-signup{
    margin: 20px auto;
    min-height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
}

.cta-mensage{
    text-align: center;
    margin: 10px 70px;
    line-height: 20px;
    font-weight: bold;
    color: #8e8e8e;
}

.cta-face{
    cursor: pointer;
    height: 30px;
    width: 320px;
     background-color: var(--color-buttom);
    border-radius: 4px;
    color: var(--background);
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-line{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    height: 1px;
    width: 35%;
    background-color: var(--border-line);
}

.tagline{
margin: 0 10px;
font-weight: bold;
color: #8e8e8e;
}

.Sign-entrar{
    margin-left: 5px;
}

@media (max-width: 830px){
    .left{
        display: none;
    }

    #container{
        width: 80%;
    }
    .right{
        padding: 0;
    }
}

@media (max-width: 560px){
    #container{
        width: 90%;
    }
    .container-signup{
        width: 90%;
    }
}